{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <a href="http://github.com/login/oauth/authorize?client_id=bf29b95b4a6f63bb0b1e">
        Login with GitHub.
    </a>
{% endblock %}